body {font-family: Georgia, serif;
    background-color: #ADD8E6;
    color: #000000;}
a {color: #0000CD;}
nav {background-color: #FF1493;
    margin-bottom: 30px;
    padding: 10px;}
nav:hover {background-color: #FFFFE0;}
nav a {color: #68c6e5;}
.skillstable table {margin:0 auto;}
.skillsimage {text-align: center;}